<app-navbar></app-navbar>

<div class="home-container">
  <div class="hero-section">
    
    <div class="background-media">
      <video autoplay muted loop class="background-video">
        <source src="../assets/background.mp4" type="video/mp4">
      
      </video>
    
       
    </div>

    <div class="intro-text">
      <h1>Hello, I'm Lesego</h1>
      <p>I'm a passionate web developer with expertise in building dynamic, interactive applications. Welcome to my portfolio where you can explore my projects, skills, and more. Let’s create something amazing together!</p>
      <a href="#about" class="btn-primary">Learn More</a>
    </div>
  </div>
  
  <app-footer></app-footer>
</div>
